# Using Pandas

In [81]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [82]:
## Your Code here
import pandas as pd
vehicles_df= pd.read_csv("data/vehicles.csv")
vehicles_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [83]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [84]:
## Your Code here
len(vehicles_df)

35952

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [85]:
## Replaced the brand names which mentioned "Dutton" with "Dutton"
vehicles_df.loc[vehicles_df.Make.str.contains('Dutton'), 'Make'] = 'Dutton'
vehicles_df.loc[vehicles_df['Make'].str.contains("Dutton")]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11012,Dutton,Funeral Coach,1985,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,19.388824,15,21,17,522.764706,1950
30164,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,9,11,10,888.700000,3350
31754,Dutton,Funeral Coach 2WD,1984,6.0,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,32.961000,10,11,10,888.700000,3350

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [86]:
#Translated CO2 Emission Grams/Mile to CO2 Emission Grams/Km
vehicles_df["CO2 Emission Grams/Km"]=vehicles_df["CO2 Emission Grams/Mile"]  * 1.6
print(vehicles_df["CO2 Emission Grams/Km"])

0         836.423529
1        1093.784615
2         888.700000
3        1093.784615
4         888.700000
            ...
35947     390.400000
35948     388.800000
35949     390.400000
35950     393.600000
35951     408.000000
Name: CO2 Emission Grams/Km, Length: 35952, dtype: float64

In [87]:
#To see the transmission types created a single series from the file
Transmission_type = vehicles_df['Transmission']
Transmission_type

0        Automatic 3-spd
1        Automatic 3-spd
2        Automatic 3-spd
3        Automatic 3-spd
4        Automatic 4-spd
              ...
35947          Auto(AM5)
35948          Auto(AM5)
35949          Auto(AM5)
35950          Auto(AM6)
35951       Manual 5-spd
Name: Transmission, Length: 35952, dtype: object

In [104]:
Transmission_type = pd.Series(vehicles_df['Transmission'])
Transmission_type = Transmission_type.str.startswith('Automatic', na= False)
Transmission_type

0         True
1         True
2         True
3         True
4         True
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Transmission, Length: 35952, dtype: bool

In [105]:
vehicles_df["Transmission_type"] = Transmission_type
print(vehicles_df)

                   Make                Model  Year  Engine Displacement  \
0            AM General    DJ Po Vehicle 2WD  1984                  2.5
1            AM General     FJ8c Post Office  1984                  4.2
2            AM General  Post Office DJ5 2WD  1985                  2.5
3            AM General  Post Office DJ8 2WD  1985                  4.2
4      ASC Incorporated                  GNX  1987                  3.8
...                 ...                  ...   ...                  ...
35947             smart         fortwo coupe  2013                  1.0
35948             smart         fortwo coupe  2014                  1.0
35949             smart         fortwo coupe  2015                  1.0
35950             smart         fortwo coupe  2016                  0.9
35951             smart         fortwo coupe  2016                  0.9

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35947        3.0        Auto(AM5)  Rear-Wheel Drive
35948        3.0        Auto(AM5)  Rear-Wheel Drive
35949        3.0        Auto(AM5)  Rear-Wheel Drive
35950        3.0        Auto(AM6)  Rear-Wheel Drive
35951        3.0     Manual 5-spd  Rear-Wheel Drive

                     Vehicle Class Fuel Type  Fuel Barrels/Year  City MPG  \
0      Special Purpose Vehicle 2WD   Regular          19.388824        18
1      Special Purpose Vehicle 2WD   Regular          25.354615        13
2      Special Purpose Vehicle 2WD   Regular          20.600625        16
3      Special Purpose Vehicle 2WD   Regular          25.354615        13
4                     Midsize Cars   Premium          20.600625        14
...                            ...       ...                ...       ...
35947                  Two Seaters   Premium           9.155833        34
35948                  Two Seaters   Premium           9.155833        34
35949                  Two Seaters   Premium           9.155833        34
35950                  Two Seaters   Premium           9.155833        34
35951                  Two Seaters   Premium           9.417429        32

       Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year  \
0               17            17               522.764706            1950
1               13            13               683.615385            2550
2               17            16               555.437500            2100
3               13            13               683.615385            2550
4               21            16               555.437500            2550
...            ...           ...                      ...             ...
35947           38            36               244.000000            1100
35948           38            36               243.000000            1100
35949           38            36               244.000000            1100
35950           39            36               246.000000            1100
35951           39            35               255.000000            1150

       CO2 Emission Grams/Km  Transmission_type
0                 836.423529               True
1                1093.784615               True
2                 888.700000               True
3                1093.784615               True
4                 888.700000               True
...                      ...                ...
35947             390.400000              False
35948             388.800000              False
35949             390.400000              False
35950             393.600000              False
35951             408.000000              False

[35952 rows x 17 columns]

In [106]:
# Convert Combine MPG into KM_per_liter
vehicles_df["km_per_liter"]=vehicles_df["Combined MPG"]  * 3.78
print(vehicles_df["km_per_liter"])

0         64.26
1         49.14
2         60.48
3         49.14
4         60.48
          ...
35947    136.08
35948    136.08
35949    136.08
35950    136.08
35951    132.30
Name: km_per_liter, Length: 35952, dtype: float64

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [109]:
# To find the amount of the car makers first found the unique values in brand column
#Then got the length of the brands which shows us 125
brands = vehicles_df['Make'].unique()
print(len(brands))

125

In [112]:
#found the Numbers of models with the same way
models = vehicles_df['Model'].unique()
print(len(models))

3608

In [129]:
#Numbers of Models for each brand
numbers_each_brands= vehicles_df.groupby('Make')['Model'].nunique()
numbers_each_brands

Make
AM General                            4
ASC Incorporated                      1
Acura                                39
Alfa Romeo                            8
American Motors Corporation           4
Aston Martin                         30
Audi                                 95
Aurora Cars Ltd                       1
Autokraft Limited                     2
BMW                                 284
BMW Alpina                            2
Bentley                              22
Bertone                               1
Bill Dovell Motor Car Company         2
Bitter Gmbh and Co. Kg                1
Bugatti                               1
Buick                                44
CCC Engineering                       1
CX Automotive                         7
Cadillac                             66
Chevrolet                           253
Chrysler                             65
Consulier Industries Inc              1
Dabryan Coach Builders Inc            1
Dacia                                 3
Daewoo                                8
Daihatsu                              3
Dodge                               118
Dutton                                2
Eagle                                10
Environmental Rsch and Devp Corp      1
Evans Automobiles                     2
Excalibur Autos                       1
Federal Coach                        14
Ferrari                              60
Fiat                                  7
Fisker                                1
Ford                                185
GMC                                 163
General Motors                        1
Genesis                               4
Geo                                  15
Goldacre                              1
Grumman Allied Industries             1
Grumman Olson                         1
Honda                                45
Hummer                                4
Hyundai                              64
Import Foreign Auto Sales Inc         1
Import Trade Services                12
Infiniti                             82
Isis Imports Ltd                      1
Isuzu                                36
J.K. Motors                          21
JBA Motorcars, Inc.                   1
Jaguar                               66
Jeep                                 50
Kia                                  42
Laforza Automobile Inc                1
Lambda Control Systems                1
Lamborghini                          23
Land Rover                           26
Lexus                                72
Lincoln                              37
London Coach Co Inc                   1
London Taxi                           1
Lotus                                10
MINI                                 42
Mahindra                              1
Maserati                             31
Maybach                               8
Mazda                                74
McLaren Automotive                    8
Mcevoy Motors                         4
Mercedes-Benz                       333
Mercury                              51
Merkur                                2
Mitsubishi                           51
Mobility Ventures LLC                 2
Morgan                                1
Nissan                               94
Oldsmobile                           33
PAS Inc - GMC                         2
PAS, Inc                              2
Pagani                                1
Panos                                 1
Panoz Auto-Development                1
Panther Car Company Limited           1
Peugeot                               7
Pininfarina                           1
Plymouth                             23
Pontiac                              57
Porsche                             121
Quantum Technologies                  1
Qvale                                 1
Ram                                   7
Red Shift Ltd.                        1
Renault                               8
Rolls-Royce                          47
Roush Performance                    18
Ruf Automobile Gmbh                   1
SRT                                   1
Saab                                 28
Saleen                                3
Saleen Performance                    3
Saturn                               24
Scion                                 8
Shelby                                1
Spyker                                7
Sterling                              2
Subaru                               61
Suzuki                               77
TVR Engineering Ltd                   4
Tecstar, LP                           6
Texas Coach Company                   4
Toyota                              100
VPG                                   2
Vector                                2
Vixen Motor Company                   1
Volga Associated Automobile           1
Volkswagen                           63
Volvo                                83
Wallace Environmental                18
Yugo                                  4
smart                                 3
Name: Model, dtype: int64

In [137]:
#Numbers of cars for each brands
vehicles_df['Make'].value_counts()

True

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Merkur                                14
Federal Coach                         14
Import Trade Services                 13
McLaren Automotive                    13
Spyker                                13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Saleen                                 5
Panther Car Company Limited            4
Saleen Performance                     4
AM General                             4
Grumman Olson                          4
Texas Coach Company                    4
Vector                                 4
Autokraft Limited                      4
TVR Engineering Ltd                    4
Bitter Gmbh and Co. Kg                 3
Evans Automobiles                      3
BMW Alpina                             3
Consulier Industries Inc               3
Dabryan Coach Builders Inc             3
Dacia                                  3
Dutton                                 3
Morgan                                 3
Ruf Automobile Gmbh                    2
Bill Dovell Motor Car Company          2
Mobility Ventures LLC                  2
Laforza Automobile Inc                 2
CCC Engineering                        2
PAS Inc - GMC                          2
PAS, Inc                               2
SRT                                    2
Pagani                                 2
Red Shift Ltd.                         2
Pininfarina                            2
Quantum Technologies                   2
Isis Imports Ltd                       1
Mahindra                               1
ASC Incorporated                       1
Aurora Cars Ltd                        1
Volga Associated Automobile            1
Vixen Motor Company                    1
JBA Motorcars, Inc.                    1
London Coach Co Inc                    1
London Taxi                            1
Import Foreign Auto Sales Inc          1
Environmental Rsch and Devp Corp       1
Grumman Allied Industries              1
Goldacre                               1
General Motors                         1
Shelby                                 1
Fisker                                 1
Panos                                  1
Panoz Auto-Development                 1
Excalibur Autos                        1
Qvale                                  1
Lambda Control Systems                 1
Name: Make, dtype: int64

In [140]:
#Years of production
years = vehicles_df['Year']
years

0        1984
1        1984
2        1985
3        1985
4        1987
         ...
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [146]:
#How big the engines are 
engine = vehicles_df['Engine Displacement']
engine

0        2.5
1        4.2
2        2.5
3        4.2
4        3.8
        ...
35947    1.0
35948    1.0
35949    1.0
35950    0.9
35951    0.9
Name: Engine Displacement, Length: 35952, dtype: float64

In [150]:
#Frequency of Transmission
vehicles_df['Transmission'].value_counts()

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Transmission, dtype: int64

In [151]:
#Frequency of Drivetrain
vehicles_df['Drivetrain'].value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

In [154]:
#Frequency of Fuel Type
vehicles_df['Fuel Type'].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

In [166]:
#What's the car that consumes the least/most fuel?
fuel = vehicles_df.groupby('Model')['Fuel Barrels/Year'].unique()
fuel
#-Couldn't find it!

Model
1-Ton Truck 2WD      [15.695714285714288, 14.330869565217393, 16.48...
100                           [18.311666666666667, 17.347894736842107]
100 Wagon                     [18.311666666666667, 17.347894736842107]
100 quattro                   [18.311666666666667, 19.388823529411766]
100 quattro Wagon                                 [18.311666666666667]
                                           ...
iQ                              [9.155833333333334, 8.908378378378377]
tC                   [14.330869565217393, 14.98227272727273, 13.733...
xA                                                            [10.987]
xB                   [11.771785714285713, 11.365862068965518, 13.73...
xD                            [11.771785714285713, 11.365862068965518]
Name: Fuel Barrels/Year, Length: 3608, dtype: object

<b> (Optional)

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [28]:
## your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [20]:
## Your Code is here